<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #teamsForm="ngForm">
        <div class="form-group">
          <label for="teamName">teamName</label>
         <input type="text" [(ngModel)]="teams.teamName" 
            class="form-control" id="teamName" name="teamName" placeholder="Enter team name"
            required #name="ngModel">
        </div>
        <div [hidden]="!teamName.pristine" class="alert alert-danger">Team Name is required</div>
        <div class="form-group">
          <label for="gitUrl">GitUrl</label>
          <input type="text" [(ngModel)]="teams.gitUrl" 
            class="form-control" id="gitUrl" name="gitUrl" placeholder="Enter Git URL"
            required #gitUrl="ngModel">
          <div [hidden]="!gitUrl.pristine" class="alert alert-danger">Git URL is required</div>
        </div>
        <div class="form-group">
          <label for="memberName">Member Name</label>
          <input type="text" [(ngModel)]="teams.memberName" 
            class="form-control" id="memberName" name="memberName" placeholder="Enter memberName"
            required #memberName="ngModel">
          <div [hidden]="!memberName.pristine" class="alert alert-danger">memberName is required</div>
        </div>
        <div class="form-group">
          <label for="memberNumber">Member number</label>
          <input type="text" [(ngModel)]="teams.memberNumber" 
            class="form-control" id="memberNumber" name="memberNumber" placeholder="Enter memberNumber"
            required #memberNumber="ngModel">
          <div [hidden]="!memberNumber.pristine" class="alert alert-danger">memberNumber is required</div>
        </div>
        <button type="submit" (click)="navigate()" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>