<div class= "card">

    <h1 style="font-size: 150%" > 
        <!-- <img src="https://banner2.kisspng.com/20180708/w/kisspng-wipro-logo-business-corporate-identity-5b420d04296d14.4683181615310553641697.jpg" alt="Wipro logo" style="width:60px;height:40px;"> -->
    XFS | Digital Rig </h1>
  
</div>
 <div class= "space"></div>
 <div class= "element">
<h2 style="font-size:120%; text-align: center; font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial,"> <b>Add & List Teams </b> </h2>
 </div>



<div class="container">
    <div class="row">
      <div class="col-md-12" >
          <div class="card-body">
            <ul class="text-center">
              <li class="list-inline-item" style= "float: right"><a routerLink="/addteam" class="btn btn-info" (click)="submit()">Add Team</a></li>
            </ul>
          </div>
        <!-- <router-outlet></router-outlet> -->
      </div>
    </div>
  </div>



<mat-card (click)="navigate()" class="card1"  >
    <mat-card-content>
         <mat-card-title> TEAM A</mat-card-title>
         <mat-card-subtitle> Hello Team A </mat-card-subtitle>
    </mat-card-content>
</mat-card>
<br>
<mat-card (click)="navigate()" class="card1"  >
    <mat-card-content>
         <mat-card-title> TEAM B</mat-card-title>
         <mat-card-subtitle> Hello Team B </mat-card-subtitle>
    </mat-card-content>
</mat-card>


  <div class= "space"></div>

  <div class="footer">
    <p>Team KSR, Copyright @2019</p>
 </div>