<div class= "card">

    <h1 style="font-size: 150%" > 
        <!-- <img src="https://banner2.kisspng.com/20180708/w/kisspng-wipro-logo-business-corporate-identity-5b420d04296d14.4683181615310553641697.jpg" alt="Wipro logo" style="width:60px;height:40px;"> -->
    XFS | Digital Rig </h1>
  
</div>
<div class= "space"></div>
<div class= "element">
 <h2 style="font-size:120%; text-align: center; font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial,"> <b>Jenkins Build Status</b> </h2><br>
<!-- <b>Commiter's Name</b> : {{dash.commiter}} -->
<br><br>
<b>Job Name</b> : {{dash.jobtitle}}
<br><br>
<b>Build Number</b> : {{dash.bNumber}}
<br><br>
<b>Build Status</b> : {{dash.buildStatus}}
<br><br>
<b>Build URL</b> : {{dash.bUrl}}
<br><br>
</div>
<div class="footer">
     <p>Team KSR</p>
     <p> Copyright @2019 </p>
 
  </div>
