<div class= "card">

    <h1 style="font-size: 150%" > 
        <!-- <img src="https://banner2.kisspng.com/20180708/w/kisspng-wipro-logo-business-corporate-identity-5b420d04296d14.4683181615310553641697.jpg" alt="Wipro logo" style="width:60px;height:40px;"> -->
    XFS | Digital Rig </h1>
  
</div>
<div class= "space"></div>
<div class= "element">
 <h2 style="font-size:120%; text-align: center; font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial,"> <b>{{ dash.teamName }} Build Status </b> </h2><br>
<b>Commiter's Name</b> : {{dash.l_commit}}
<br><br>
  
<b>Job Name</b> : {{dash.jobtitle}}
<br><br>
<b>Build Number</b> : {{dash.bNumber}}
<br><br>
<b>Build Status</b> : {{dash.buildStatus}}
<br><br>
  <b>Build URL</b> : <a href="{{dash.bUrl}}">{{dash.bUrl}}</a>
<br><br>
   <button type="submit" (click)="onClick()" class="btn btn-info">To List</button>
</div>
<app-refresh></app-refresh>
<div class="footer">
     <p>Team KSR, Copyright @2019</p>
  </div>
